<a href="https://colab.research.google.com/github/ohmreborn/AboutMe/blob/main/%E0%B9%82%E0%B8%9E%E0%B8%A2_datasci_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
manga = {"ชื่อเรื่อง":["แฟนเช่า","spy x family","ดาบพิฆาตรอสูร"],
             "ราคา":[80,85,90],
             "จำนวนเล่ม":[2,4,3]}
df = pd.DataFrame(manga)

In [ ]:
display(df)
print("hello")

      ชื่อเรื่อง  ราคา  จำนวนเล่ม
0        แฟนเช่า    80          2
1   spy x family    85          4
2  ดาบพิฆาตรอสูร    90          3

hello

In [ ]:
"""
gold   silver    bronze    total
1       2           3         6
3       2           4         9
.....
....
..
"""

0    2
1    4
2    3
Name: จำนวนเล่ม, dtype: int64

In [ ]:
import pandas as pd
dic = {
    "product" : ["fan", "Tv", "lamp", "computer"],
    "price" : [200, 500, 100, 700],
    "quantity" : [2, 3, 1, None]
}
df = pd.DataFrame(dic)
df.dropna(inplace=True)
print(df)
"""
  product  price  quantity
0     fan    200       2.0
1      Tv    500       3.0
2    lamp    100       1.0
"""

  product  price  quantity
0     fan    200       2.0
1      Tv    500       3.0
2    lamp    100       1.0

'\n  product  price  quantity\n0     fan    200       2.0\n1      Tv    500       3.0\n2    lamp    100       1.0\n'

Medals.csv
1. : แต่ละประเทศได้เหรียญกันไปเท่าไหร่
2. : เหรียญทั้งหมดในการแข่งขันมีทั้งหมดกี่เหรียญ

* EntriesGender.csv
1. : ในกีฬาแต่ละชนิดมีนักกีฬากี่คน รวมชายหญิง
2. : มีนักกีฬาชายกี่คน หญิงกี่คน
* ex
* Athletes.csv
1. : แต่ละประเทศมีนักกีฬากี่คน
2. : นักกีฬาแต่ละประเทศลงแข่งกีฬาชนิดไหนบ้าง และ กี่คนในแต่ละชนิด
* โจทย์ data firearm
1. ใน data นี้มีกี่ state และอะไรบ้าง
2. แต่ละ state ซื้อปืน hand gun ไปเท่าไหร่
3. แต่ละ state ซื้อปืนทั้งหมด ไปเท่าไหร่
4. แต่ละ state recheck_permit ไปเท่าไหร่